{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
  <style>
    #partitioned {
  padding-left: 15px;
  letter-spacing: 40px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 290px;
}
  </style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static "images/icons/favicon.ico" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'images/logo.png' %}" alt="IMG">
				</div>

				<form method="post" action="{% url 'verify_otp'%}" class="login100-form validate-form">
                    {% csrf_token %}
					<span class="login100-form-title">
            Reset Password
            <br>
           
					</span>
         
                 <div>
                    <h4 >Forgot Password </h4> 
                     <p>A 6-digit OTP is sent to your mail. Enter the OTP below and press send.</p>
                    <br>
                    <input  id="1hidden_input" {% if otp1_email %} value="{{ otp1_email }}" {% endif %} type="Email" name="otp_email">
                    <script>
                        document.getElementById("1hidden_input").style.display="none";
                    </script>
                      
                     <div class="otpBox">
                      <input name='OTP' id="partitioned" type="text" maxlength="6" style="background-color:  #ffffff; padding-top: 30px; margin-bottom: 20px;" />
                     </div>
                      {% if message %}
                      <p class="text-muted">{{message}}</p>
                      {% endif %}
                     <button type="submit" class="btn btn-primary">Verify</button>
                    </div>

					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
<script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/tilt/tilt.jquery.min.js" %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static "js/main.js" %}"></script>

</body>
</html>